.tittle {
  background-color: rgb(94, 114, 114);
  height: 2rem;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.result {
  height: 10rem;
  color: white;
  font-size: 1rem;
  font-style: italic;
}


.titulo {
  font-size: 1rem;
  margin-top: 0;
  color: white;
  margin-top: 0.5rem;
  font-weight:bold;
  font-style: italic;
}

@media (min-width: 765px) {
  .App {
   margin-left: 10rem;
   margin-right: 10rem;
    
  }
}

@media (min-width: 1185px) {
  .App {
   margin-left: 30rem;
   margin-right: 30rem;
    
  }
}

.App {
 
  background-color: aliceblue;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  
}
.contenido {
  background-color: rgb(94, 114, 114);
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;

}



h2 {
  margin: 0;
}

.botones {
  display: flex;
  justify-content:center;
  padding: 0.5rem
  
}

.fecha-actual {
  font-size: 1rem;
  display: flex;
  margin-left: 2rem;
}
.tittle {
  border: none;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.form {
  display: flex;
  flex-direction: column;
}
.button-clic {
  background-color: rgb(193, 193, 224);
 width: 5rem;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 1rem;
 padding: 1rem;
 border: none;
 border-radius: 10px;

}

.button-clic:hover {
  background-color: rgb(71, 71, 90);
  color: azure;
  cursor: pointer;
}

body {
  padding: 2rem;
  background-color: black;
}

.division-mes {
  padding: 1rem;
 
  background-color: rgb(94, 114, 114);
  display: flex;

}

.selected-mes {
  padding: 0.5rem;
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.selected-mes:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
 }

 h4 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
 }

 h2 {
  color: white;
 }
.option-name {
 
}

.selected-mes:hover {
  
}

.division-año {
  padding: 1rem;
  background-color: rgb(94, 114, 114);
}

.division-dia {
  padding: 1rem;
  background-color: rgb(94, 114, 114);
}

.dont-show {
  display: none;
}

.mes-seleccionado {
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  
}