.tittle {
  background-color: rgb(81, 169, 169);
  height: 2rem;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  

}


.titulo {
  font-size: 1rem;
  margin-top: 0;
  color: white;
  margin-top: 0.5rem;
  font-weight:bold;
  font-style: italic;
}

@media (min-width: 765px) {
  .App {
   margin-left: 10rem;
   margin-right: 10rem;
    
  }
}

@media (min-width: 1185px) {
  .App {
   margin-left: 30rem;
   margin-right: 30rem;
    
  }
}

.App {
  background-color: blanchedalmond;
  border: 10px solid white;
  border-radius: 0.5rem;
 

}









.form {
  display: flex;
  flex-direction: column;
}

body {
  padding: 2rem;
  background-color: black;
}

.division-mes {
  padding: 1rem;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.division-año {
  padding: 1rem;
  background-color: aquamarine;
}

.division-dia {
  padding: 1rem;
  background-color: azure;
}

.dont-show {
  display: none;
}

.mes-seleccionado {
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  
}